extends layout

block page_title
  title Das ist der Seitentitel

block greeting 
  h1 Hallo Welt!

block software_engineer
  p Bald wird ich eine Softwareingenieurin!
  img(src="/images/earth.jpeg" alt="The Earth" title="The Earth")